doctype html
html(lang="eng")
  head
    link(rel="stylesheet", href="./css/style.css")
    title Fusion
  body
    section.section.section-first
      .container
        .section-first__inner
          .section-first__centered
            h1.main-title.section-first__main-title We’re 
              span Fusion
              | , We Build Things for Human
            ul.functions-list
              li Design
              li Strategy
              li Branding
          .section-first__bottom
            a.logo(href="#")
              img(src="./img/fusion.png", alt="Fusion")
            a.link(href="#") Get in touch
    section.section.team
      .container
        h2.section-title
          span Our services
          | Our team will take your business presence to new level
        .services-list
          .services-list__item
            img.services-list__img(src="./img/icons/strategy.svg", alt="")
            h3 Strategy.
            p Ship it user story iterate engaging co-working intuitive pitch deck hacker prototype SpaceTeam user centered design big data.
            a.link(href="#") See Details
          .services-list__item
            img.services-list__img(src="./img/icons/branding.svg", alt="")
            h3 Branding.
            p Ship it user story iterate engaging co-working intuitive pitch deck hacker prototype SpaceTeam user centered design big data.
            a.link(href="#") See Details
          .services-list__item
            img.services-list__img(src="./img/icons/design.svg", alt="")
            h3 Design.
            p Ship it user story iterate engaging co-working intuitive pitch deck hacker prototype SpaceTeam user centered design big data.
            a.link(href="#") See Details
    section.section.projects
      .container
        .slider
    section.section.testi
      .container
        h2.section-title
          span Testimonials
          | We have worked with some amazing companies around the world
        .companies
          .companies__logo
          .companies__logo
          .companies__logo
          .companies__logo
          .companies__logo
          .companies__logo
          .companies__logo
        .reviews-slider
    section.section.team
      .container
        h2.section-title
          span Our Team
          | Our Amazing Team
        .team-grid
          .team-item
            .team-item__visible
              img.team-item__img(src="./img/team-item__img.png", alt="")
              h3 Donna Watson
                span VP of Product
            p Vincent is the Founder &amp; CEO of Fusion. He is leading  the company to success with his experience &amp; skill. Leader piverate paradigm cortado ship it integrate Space Team parallax persons grok. Parallax food truck fund 360 campaign venture capital pitch deck actionable insight innovate.
          .team-item
            .team-item__visible
              img.team-item__img(src="./img/team-item__img.png", alt="")
              h3 Donna Watson
                span VP of Product
            p Vincent is the Founder &amp; CEO of Fusion. He is leading  the company to success with his experience &amp; skill. Leader piverate paradigm cortado ship it integrate Space Team parallax persons grok. Parallax food truck fund 360 campaign venture capital pitch deck actionable insight innovate.
          .team-item
            .team-item__visible
              img.team-item__img(src="./img/team-item__img.png", alt="")
              h3 Donna Watson
                span VP of Product
            p Vincent is the Founder &amp; CEO of Fusion. He is leading  the company to success with his experience &amp; skill. Leader piverate paradigm cortado ship it integrate Space Team parallax persons grok. Parallax food truck fund 360 campaign venture capital pitch deck actionable insight innovate.
          .team-item
            .team-item__visible
              img.team-item__img(src="./img/team-item__img.png", alt="")
              h3 Donna Watson
                span VP of Product
            p Vincent is the Founder &amp; CEO of Fusion. He is leading  the company to success with his experience &amp; skill. Leader piverate paradigm cortado ship it integrate Space Team parallax persons grok. Parallax food truck fund 360 campaign venture capital pitch deck actionable insight innovate.
          .team-item
            .team-item__visible
              img.team-item__img(src="./img/team-item__img.png", alt="")
              h3 Donna Watson
                span VP of Product
            p Vincent is the Founder &amp; CEO of Fusion. He is leading  the company to success with his experience &amp; skill. Leader piverate paradigm cortado ship it integrate Space Team parallax persons grok. Parallax food truck fund 360 campaign venture capital pitch deck actionable insight innovate.
          .team-item
            .team-item__visible
              img.team-item__img(src="./img/team-item__img.png", alt="")
              h3 Donna Watson
                span VP of Product
            p Vincent is the Founder &amp; CEO of Fusion. He is leading  the company to success with his experience &amp; skill. Leader piverate paradigm cortado ship it integrate Space Team parallax persons grok. Parallax food truck fund 360 campaign venture capital pitch deck actionable insight innovate.
          .team-item
            .team-item__visible
              img.team-item__img(src="./img/team-item__img.png", alt="")
              h3 Donna Watson
                span VP of Product
            p Vincent is the Founder &amp; CEO of Fusion. He is leading  the company to success with his experience &amp; skill. Leader piverate paradigm cortado ship it integrate Space Team parallax persons grok. Parallax food truck fund 360 campaign venture capital pitch deck actionable insight innovate.
          .team-item
            .team-item__visible
              img.team-item__img(src="./img/team-item__img.png", alt="")
              h3 Donna Watson
                span VP of Product
            p Vincent is the Founder &amp; CEO of Fusion. He is leading  the company to success with his experience &amp; skill. Leader piverate paradigm cortado ship it integrate Space Team parallax persons grok. Parallax food truck fund 360 campaign venture capital pitch deck actionable insight innovate.
    section.section.contact
      .container
        h2.section-title
          span Contact us
          | Let’s talk about the project
        form.contact-form
          .contact-form__row#name
            label.contact-form__label(for="user-name") Your Name
            input.contact-form__input(type="text" name="user-name" )
          .contact-form__row#email
            label.contact-form__label(for="user-email") Your Email
            input.contact-form__input(type="text" name="user-email")
          .contact-form__row#company
            label.contact-form__label(for="user-company") Company
            input.contact-form__input(type="text" name="user-company")
          .contact-form__row#subject
            label.contact-form__label(for="user-subject") Subject
            input.contact-form__input(type="text" name="user-subject")
          .contact-form__row#message
            label.contact-form__label(for="user-message") Your Message
            input.contact-form__input(type="text" name="user-message")
          button.link.btn.contact-form__btn Get in touch
    footer.ftr
      .container
        .ftr-inner
          a.logo.ftr__logo(href="#")
            img(src="./img/fusion.png", alt="Fusion")
          .ftr__item
            span.ftr__title California office
            | 4243 Woodland Terrace
            br
            | Sacramento, CA 95814
            br
            | 916 753 2645
          .ftr__item
            span.ftr__title New york Office
            | 885 Oakwood Avenue
            br
            | New York, NY 10013
            br
            | 212 660 0744
          .ftr__item
            span.ftr__title Other Contact
            | jobs@templateocean.com
            .socials-list
              .socials-list__item
              .socials-list__item
              .socials-list__item
              .socials-list__item
              .socials-list__item
              
